<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de Actividades</title>
  {% block css %}
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
  />
  {% endblock %}
</head>
<body>

  <header>
    <h1>Listado de Actividades</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('agregar') }}">Agregar Actividad</a></li>
        <li><a href="{{ url_for('actividades') }}">Actividades</a></li>
        <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
      </ul>
    </nav>
  </header>
    
  <table id="tablaActividades">
    <thead>
      <tr>
        <th>Inicio</th>
        <th>Término</th>
        <th>Comuna</th>
        <th>Sector</th>
        <th>Tema</th>
        <th>Organizador</th>
        <th>Total Fotos</th>
      </tr>
    </thead>
    <tbody>
      {% for a in actividades %}
      <tr onclick="window.location='{{ url_for('actividad', actividad_id=a.id) }}'" style="cursor: pointer;">
        <td>{{ a.dia_hora_inicio.strftime('%d-%m-%Y') }}</td>
        <td>{{ a.dia_hora_termino.strftime('%d-%m-%Y') }}</td>
        <td>{{ a.comuna.nombre }}</td>
        <td>{{ a.sector }}</td>
        <td>{{ a.temas[0].tema.value if a.temas else 'Sin tema' }}</td>
        <td>{{ a.nombre }}</td>
        <td>{{ a.fotos|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
    

    
  </table>
  
  <div class="paginacion">
    {% if pagina > 1 %}
      <a href="{{ url_for('actividades', pagina=pagina-1) }}">Anterior</a>
    {% endif %}
  
    Página {{ pagina }} de {{ total_paginas }}
  
    {% if pagina < total_paginas %}
      <a href="{{ url_for('actividades', pagina=pagina+1) }}">Siguiente</a>
    {% endif %}
  </div>


</body>
</html>
